body{
		 display: flex;
		 flex-wrap: wrap;
	  }
body > * {
	width: 100%;
	/*border: 1px solid #000;*/
	border-bottom-width: 0;
	box-sizing: border-box;
	/*text-align: center;*/
}
body > *:last-child {
border-bottom-width: 1px;
}
header, footer {
	min-height: 90px;
	
}
header{
	background: greenyellow;
	width: 100%;
	margin: 0px;
	text-align: center;
	color: aliceblue;
}
header img{
	float: right;
}
nav{
	font-family: arial, helvetica, sans-serif;
	background: currentColor;
	height: 50px;
	color: antiquewhite;
}
nav ul li {
	float: right;
	list-style: none;
	margin: 10px;
	line-height: 5px;
}
aside {
	width: 25%;
	border-right-width: 1px;
	background: palegreen;
}
aside img{
	width: 100%;
	height: auto;
}
.articulo1{
	color: blanchedalmond;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid floralwhite;
	padding: 5px;
}
.container .body{
	width: 75%;
	background: coral;
}
.container{
	display: flex;
}
footer{
	background: orangered;
	color: white;
	text-align: center;
	min-height: 50px;
}